:root {
	/* Color palette */
	--palette-color-transparent: transparent;
	--palette-color-white: hsl(0, 0%, 100%);
	--palette-color-black: hsl(0, 0%, 4%);
	--palette-color-light: hsl(0, 0%, 96%);
	--palette-color-dark: hsl(0, 0%, 21%);
	--palette-color-primary: hsl(171, 100%, 41%);
	--palette-color-link: hsl(217, 71%, 53%);
	--palette-color-info: hsl(204, 86%, 53%);
	--palette-color-success: hsl(141, 71%, 48%);
	--palette-color-warning: hsl(48, 100%, 67%);
	--palette-color-danger: hsl(348, 100%, 61%);
	--palette-color-pink: hsl(0, 100%, 85%);
	--palette-color-orange: hsl(33, 100%, 71%);
	--palette-color-purple: hsl(294, 71%, 79%);

	--color-black-bis: hsl(0, 0%, 7%);     /* Black bis */
	--color-black-ter: hsl(0, 0%, 14%);    /* Black ter */
	--color-grey-darker: hsl(0, 0%, 21%);  /* Grey darker */
	--color-grey-dark: hsl(0, 0%, 29%);    /* Grey dark */
	--color-grey-light: hsl(0, 0%, 71%);   /* Grey light */
	--color-grey-lighter: hsl(0, 0%, 86%); /* Grey lighter */
	--color-white-ter: hsl(0, 0%, 96%);    /* White ter */
	--color-white-bis: hsl(0, 0%, 98%);    /* White bis */

	/* font-family */
	--font-family-segoe-ui: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-family-sans-serif: "Nunito Sans",sans-serif;
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

[data-theme="dark"] {

}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@media print {
	*,
	*:before,
	*:after {
		color: #000 !important;
		text-shadow: none !important;
		background: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " ("attr(href)")";
	}
	abbr[title]:after {
		content: " ("attr(title)")";
	}
	abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		-webkit-text-decoration: underline dotted;
		text-decoration: underline dotted;
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

/*
* {
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #23527c;
	text-decoration: underline;
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[role="button"] {
	cursor: pointer;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.row-no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row-no-gutters [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66666667%;
}

.col-xs-10 {
	width: 83.33333333%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8 {
	width: 66.66666667%;
}

.col-xs-7 {
	width: 58.33333333%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.66666667%;
}

.col-xs-4 {
	width: 33.33333333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.66666667%;
}

.col-xs-1 {
	width: 8.33333333%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-pull-11 {
	right: 91.66666667%;
}

.col-xs-pull-10 {
	right: 83.33333333%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-8 {
	right: 66.66666667%;
}

.col-xs-pull-7 {
	right: 58.33333333%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-5 {
	right: 41.66666667%;
}

.col-xs-pull-4 {
	right: 33.33333333%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-2 {
	right: 16.66666667%;
}

.col-xs-pull-1 {
	right: 8.33333333%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-push-11 {
	left: 91.66666667%;
}

.col-xs-push-10 {
	left: 83.33333333%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-8 {
	left: 66.66666667%;
}

.col-xs-push-7 {
	left: 58.33333333%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-5 {
	left: 41.66666667%;
}

.col-xs-push-4 {
	left: 33.33333333%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-2 {
	left: 16.66666667%;
}

.col-xs-push-1 {
	left: 8.33333333%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

.col-xs-offset-11 {
	margin-left: 91.66666667%;
}

.col-xs-offset-10 {
	margin-left: 83.33333333%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-8 {
	margin-left: 66.66666667%;
}

.col-xs-offset-7 {
	margin-left: 58.33333333%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-5 {
	margin-left: 41.66666667%;
}

.col-xs-offset-4 {
	margin-left: 33.33333333%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-2 {
	margin-left: 16.66666667%;
}

.col-xs-offset-1 {
	margin-left: 8.33333333%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666667%;
	}
	.col-sm-pull-10 {
		right: 83.33333333%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666667%;
	}
	.col-sm-pull-7 {
		right: 58.33333333%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.66666667%;
	}
	.col-sm-pull-1 {
		right: 8.33333333%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666667%;
	}
	.col-sm-push-10 {
		left: 83.33333333%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666667%;
	}
	.col-sm-push-7 {
		left: 58.33333333%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.66666667%;
	}
	.col-sm-push-1 {
		left: 8.33333333%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-pull-11 {
		right: 91.66666667%;
	}
	.col-md-pull-10 {
		right: 83.33333333%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-8 {
		right: 66.66666667%;
	}
	.col-md-pull-7 {
		right: 58.33333333%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-5 {
		right: 41.66666667%;
	}
	.col-md-pull-4 {
		right: 33.33333333%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-2 {
		right: 16.66666667%;
	}
	.col-md-pull-1 {
		right: 8.33333333%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-push-11 {
		left: 91.66666667%;
	}
	.col-md-push-10 {
		left: 83.33333333%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-8 {
		left: 66.66666667%;
	}
	.col-md-push-7 {
		left: 58.33333333%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-5 {
		left: 41.66666667%;
	}
	.col-md-push-4 {
		left: 33.33333333%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-2 {
		left: 16.66666667%;
	}
	.col-md-push-1 {
		left: 8.33333333%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-4 {
		width: 33.33333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.66666667%;
	}
	.col-lg-1 {
		width: 8.33333333%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-pull-11 {
		right: 91.66666667%;
	}
	.col-lg-pull-10 {
		right: 83.33333333%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-8 {
		right: 66.66666667%;
	}
	.col-lg-pull-7 {
		right: 58.33333333%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-5 {
		right: 41.66666667%;
	}
	.col-lg-pull-4 {
		right: 33.33333333%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-2 {
		right: 16.66666667%;
	}
	.col-lg-pull-1 {
		right: 8.33333333%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-push-11 {
		left: 91.66666667%;
	}
	.col-lg-push-10 {
		left: 83.33333333%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-8 {
		left: 66.66666667%;
	}
	.col-lg-push-7 {
		left: 58.33333333%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-5 {
		left: 41.66666667%;
	}
	.col-lg-push-4 {
		left: 33.33333333%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-2 {
		left: 16.66666667%;
	}
	.col-lg-push-1 {
		left: 8.33333333%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
}

/* font-size 10|12|14|16|18|20|22|24 px */
.f1 {
	font-size: 1.0em!important
}

.f2 {
	font-size: 1.2em!important
}

.f3 {
	font-size: 1.4em!important
}

.f4 {
	font-size: 1.6em!important
}

.f5 {
	font-size: 1.8em!important
}

.f6 {
	font-size: 2.0em!important
}

.f7 {
	font-size: 2.2em!important
}

.f8 {
	font-size: 2.4em!important
}

/* line-height: normal|length|initial|inherit|number */
.lh-normal {
	line-height: normal!important
}

.lh-initial {
	line-height: initial!important
}

.lh-inherit {
	line-height: inherit!important
}

.lh-0 {
	line-height: 0!important
}

.lh-condensed-ultra {
	line-height: 1!important
}

.lh-condensed {
	line-height: 1.25!important
}

.lh-default {
	line-height: 1.5!important
}

/* font-style: normal|italic|oblique|initial|inherit */
.text-normal {
	font-style: normal!important
}

.text-italic {
	font-style: italic!important
}

.text-oblique {
	font-style: oblique!important
}

.text-initial {
	font-style: initial!important
}

.text-inherit {
	font-style: inherit!important
}

/* font-weight: normal|bold|bolder|lighter|initial|inherit|number */
.font-normal {
	font-weight: normal!important
}

.font-bold {
	font-weight: bold!important
}

.font-bolder {
	font-weight: bolder!important
}

.font-lighter {
	font-weight: lighter!important
}

.font-initial {
	font-weight: initial!important
}

.font-inherit {
	font-weight: inherit!important
}

.font-100 {
	font-weight: 100!important
}

.font-200 {
	font-weight: 200!important
}

.font-300 {
	font-weight: 300!important
}

.font-400 {
	font-weight: 400!important
}

.font-500 {
	font-weight: 500!important
}

.font-600 {
	font-weight: 600!important
}

.font-700 {
	font-weight: 700!important
}

.font-800 {
	font-weight: 800!important
}

.font-900 {
	font-weight: 900!important
}

/* display: inline|block|contents|flex|grid|inline-block|inline-flex|inline-grid|inline-table|list-item|table|table-caption|table-column-group|table-header-group|table-footer-group|table-row-group|table-cell|table-column|table-row|none|initial|inherit */
.d-inline {
	display: inline!important
}

.d-block {
	display: block!important
}

.d-contents {
	display: contents!important
}

.d-flex {
	display: flex!important
}

.d-grid {
	display: grid!important
}

.d-inline-block {
	display: inline-block!important
}

.d-inline-flex {
	display: inline-flex!important
}

.d-inline-grid {
	display: inline-grid!important
}

.d-inline-table {
	display: inline-table!important
}

.d-list-item {
	display: list-item!important
}

.d-table {
	display: table!important
}

.d-table-caption {
	display: table-caption!important
}

.d-table-column-group {
	display: table-column-group!important
}

.d-table-header-group {
	display: table-header-group!important
}

.d-table-footer-group {
	display: table-footer-group!important
}

.d-table-row-group {
	display: table-row-group!important
}

.d-table-cell {
	display: table-cell!important
}

.d-table-column {
	display: table-column!important
}

.d-table-row {
	display: table-row!important
}

.d-table-none {
	display: table-none!important
}

.d-table-initial {
	display: table-initial!important
}

.d-table-inherit {
	display: table-inherit!important
}

/* border-radius: 0/3/6 - length|%|initial|inherit */
.rounded-100 {
	border-radius: 100em!important
}

.rounded-0 {
	border-radius: 0!important
}

.rounded-1 {
	border-radius: 0.3em!important
}

.rounded-2 {
	border-radius: 0.6em!important
}

.rounded-t-0 {
	border-top-left-radius: 0!important;
	border-top-right-radius: 0!important
}

.rounded-t-1 {
	border-top-left-radius: 0.3em!important;
	border-top-right-radius: 0.3em!important
}

.rounded-t-2 {
	border-top-left-radius: 0.6em!important;
	border-top-right-radius: 0.6em!important
}

.rounded-r-0 {
	border-bottom-right-radius: 0!important;
	border-top-right-radius: 0!important
}

.rounded-r-1 {
	border-bottom-right-radius: 0.3em!important;
	border-top-right-radius: 0.3em!important
}

.rounded-r-2 {
	border-bottom-right-radius: 0.6em!important;
	border-top-right-radius: 0.6em!important
}

.rounded-b-0 {
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important
}

.rounded-b-1 {
	border-bottom-left-radius: 0.3em!important;
	border-bottom-right-radius: 0.3em!important
}

.rounded-b-2 {
	border-bottom-left-radius: 0.6em!important;
	border-bottom-right-radius: 0.6em!important
}

.rounded-l-0 {
	border-bottom-left-radius: 0!important;
	border-top-left-radius: 0!important
}

.rounded-l-1 {
	border-bottom-left-radius: 0.3em!important;
	border-top-left-radius: 0.3em!important
}

.rounded-l-2 {
	border-bottom-left-radius: 0.6em!important;
	border-top-left-radius: 0.6em!important
}

/* padding: padding|padding-bottom|padding-top|padding-left|padding-right */
.p-0 {
	padding: 0em!important
}
.pt-0 {
	padding-top: 0em!important
}
.pb-0 {
	padding-bottom: 0em!important
}
.pl-0 {
	padding-left: 0em!important
}
.pr-0 {
	padding-right: 0em!important
}
.p-1 {
	padding: 0.2em!important
}
.pt-1 {
	padding-top: 0.2em!important
}
.pb-1 {
	padding-bottom: 0.2em!important
}
.pl-1 {
	padding-left: 0.2em!important
}
.pr-1 {
	padding-right: 0.2em!important
}
.p-2 {
	padding: 0.4em!important
}
.pt-2 {
	padding-top: 0.4em!important
}
.pb-2 {
	padding-bottom: 0.4em!important
}
.pl-2 {
	padding-left: 0.4em!important
}
.pr-2 {
	padding-right: 0.4em!important
}
.p-3 {
	padding: 0.6em!important
}
.pt-3 {
	padding-top: 0.6em!important
}
.pb-3 {
	padding-bottom: 0.6em!important
}
.pl-3 {
	padding-left: 0.6em!important
}
.pr-3 {
	padding-right: 0.6em!important
}
.p-4 {
	padding: 0.8em!important
}
.pt-4 {
	padding-top: 0.8em!important
}
.pb-4 {
	padding-bottom: 0.8em!important
}
.pl-4 {
	padding-left: 0.8em!important
}
.pr-4 {
	padding-right: 0.8em!important
}
.p-5 {
	padding: 1.0em!important
}
.pt-5 {
	padding-top: 1.0em!important
}
.pb-5 {
	padding-bottom: 1.0em!important
}
.pl-5 {
	padding-left: 1.0em!important
}
.pr-5 {
	padding-right: 1.0em!important
}
/* margin: margin|margin-bottom|margin-top|margin-left|margin-right */
.m-0-auto {
	margin: 0 auto!important
}
.m-left-auto {
	margin-left: auto!important
}
.m-right-auto {
	margin-right: auto!important
}
.m-0 {
	margin: 0em!important
}
.mt-0 {
	margin-top: 0em!important
}
.mb-0 {
	margin-bottom: 0em!important
}
.ml-0 {
	margin-left: 0em!important
}
.mr-0 {
	margin-right: 0em!important
}
.m-1 {
	margin: 0.2em!important
}
.mt-1 {
	margin-top: 0.2em!important
}
.mb-1 {
	margin-bottom: 0.2em!important
}
.ml-1 {
	margin-left: 0.2em!important
}
.mr-1 {
	margin-right: 0.2em!important
}
.m-2 {
	margin: 0.4em!important
}
.mt-2 {
	margin-top: 0.4em!important
}
.mb-2 {
	margin-bottom: 0.4em!important
}
.ml-2 {
	margin-left: 0.4em!important
}
.mr-2 {
	margin-right: 0.4em!important
}
.m-3 {
	margin: 0.6em!important
}
.mt-3 {
	margin-top: 0.6em!important
}
.mb-3 {
	margin-bottom: 0.6em!important
}
.ml-3 {
	margin-left: 0.6em!important
}
.mr-3 {
	margin-right: 0.6em!important
}
.m-4 {
	margin: 0.8em!important
}
.mt-4 {
	margin-top: 0.8em!important
}
.mb-4 {
	margin-bottom: 0.8em!important
}
.ml-4 {
	margin-left: 0.8em!important
}
.mr-4 {
	margin-right: 0.8em!important
}
.m-5 {
	margin: 1.0em!important
}
.mt-5 {
	margin-top: 1.0em!important
}
.mb-5 {
	margin-bottom: 1.0em!important
}
.ml-5 {
	margin-left: 1.0em!important
}
.mr-5 {
	margin-right: 1.0em!important
}

/* text-overflow: clip|ellipsis|string|initial|inherit */
.text-overflow-clip {
	text-overflow: clip!important
}

.text-overflow-ellipsis {
	text-overflow: ellipsis!important
}

.text-overflow-initial {
	text-overflow: initial!important
}

.text-overflow-inherit {
	text-overflow: inherit!important
}

/* overflow: visible|hidden|scroll|auto|initial|inherit */
.overflow-initial {
	overflow: initial!important
}

.overflow-inherit {
	overflow: inherit!important
}

.overflow-visible {
	overflow: visible!important
}

.overflow-x-visible {
	overflow-x: visible!important
}

.overflow-y-visible {
	overflow-y: visible!important
}

.overflow-hidden {
	overflow: hidden!important
}

.overflow-x-hidden {
	overflow-x: hidden!important
}

.overflow-y-hidden {
	overflow-y: hidden!important
}

.overflow-auto {
	overflow: auto!important
}

.overflow-x-auto {
	overflow-x: auto!important
}

.overflow-y-auto {
	overflow-y: auto!important
}

.overflow-scroll {
	overflow: scroll!important
}

.overflow-x-scroll {
	overflow-x: scroll!important
}

.overflow-y-scroll {
	overflow-y: scroll!important
}

/* vertical-align: baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit */
.v-align-middle {
	vertical-align: middle!important
}

.v-align-top {
	vertical-align: top!important
}

.v-align-bottom {
	vertical-align: bottom!important
}

.v-align-text-top {
	vertical-align: text-top!important
}

.v-align-text-bottom {
	vertical-align: text-bottom!important
}

.v-align-baseline {
	vertical-align: baseline!important
}

/* text-align: left|right|center|justify|initial|inherit */
.text-left {
	text-align: left!important
}

.text-right {
	text-align: right!important
}

.text-center {
	text-align: center!important
}

.text-justify {
	text-align: justify!important
}

.text-initial {
	text-align: initial!important
}

.text-inherit {
	text-align: inherit!important
}

/* position: static|absolute|fixed|relative|sticky|initial|inherit */
.position-static {
	position: static!important
}

.position-absolute {
	position: absolute!important
}

.position-fixed {
	position: fixed!important
}

.position-relative {
	position: relative!important
}

.position-sticky {
	position: sticky!important
}

.position-initial {
	position: initial!important
}

.position-inherit {
	position: inherit!important
}

/* border: border-width border-style border-color|initial|inherit */
.border-0 {
	border: 0!important
}

.border-top-0 {
	border-top: 0!important
}

.border-right-0 {
	border-right: 0!important
}

.border-bottom-0 {
	border-bottom: 0!important
}

.border-left-0 {
	border-left: 0!important
}

.border {
	border: 1px solid var(--color-grey-lighter)!important
}

.border-x {
	border-left: 1px solid var(--color-grey-lighter)!important;
	border-right: 1px solid var(--color-grey-lighter)!important
}

.border-y {
	border-bottom: 1px solid var(--color-grey-lighter)!important;
	border-top: 1px solid var(--color-grey-lighter)!important
}

.border-top {
	border-top: 1px solid var(--color-grey-lighter)!important
}

.border-right {
	border-right: 1px solid var(--color-grey-lighter)!important
}

.border-bottom {
	border-bottom: 1px solid var(--color-grey-lighter)!important
}

.border-left {
	border-left: 1px solid var(--color-grey-lighter)!important
}


/* align-content */
.align-content-stretch {
	align-content: stretch!important
}

.align-content-flex-start {
	align-content: flex-start!important
}

.align-content-flex-end {
	align-content: flex-end!important
}
.align-content-center {
	align-content: center!important
}
.align-content-space-between {
	align-content: space-between!important
}

.align-content-space-around {
	align-content: space-around!important
}
/* align-items */
.align-items-flex-start {
	align-items: flex-start!important
}
.align-items-flex-end {
	align-items: flex-end!important
}
.align-items-center {
	align-items: center!important
}
.align-items-baseline {
	align-items: baseline!important
}
.align-items-stretch {
	align-items: stretch!important
}

/* align-self */
.align-self-auto {
	align-self: auto!important
}
.align-self-flex-start {
	align-self: flex-start!important
}
.align-self-flex-end {
	align-self: flex-end!important
}
.align-self-center {
	align-self: center!important
}
.align-self-baseline {
	align-self: baseline!important
}
.align-self-stretch {
	align-self: stretch!important
}
/* flex-basis */
.flex-basis-auto {
	flex-basis: auto!important
}
.flex-basis-100 {
	flex-basis: 100%!important
}
/* flex-direction */
.flex-direction-row {
	flex-direction: row!important
}
.flex-basis-row-reverse {
	flex-direction: row-reverse!important
}
.flex-basis-column {
	flex-direction: column!important
}
.flex-basis-column-reverse {
	flex-direction: column-reverse!important
}
.flex-basis-column {
	flex-direction: column!important
}

/* flex auto */
.flex-auto {
    flex: 1 1 auto!important
}

/* flex-grow */
.flex-grow-0 {
	flex-grow: 0!important
}
.flex-grow-1 {
	flex-grow: 1!important
}
.flex-grow-2 {
	flex-grow: 2!important
}
.flex-grow-3 {
	flex-grow: 3!important
}
.flex-grow-4 {
	flex-grow: 4!important
}
.flex-grow-5 {
	flex-grow: 5!important
}

/* flex-shrink */
.flex-shrink-0 {
	flex-shrink: 0!important
}
.flex-shrink-1 {
	flex-shrink: 1!important
}
.flex-shrink-2 {
	flex-shrink: 2!important
}
.flex-shrink-3 {
	flex-shrink: 3!important
}
.flex-shrink-4 {
	flex-shrink: 4!important
}
.flex-shrink-5 {
	flex-shrink: 5!important
}

/* flex-wrap */
.flex-wrap-nowrap {
	flex-wrap: nowrap!important
}
.flex-wrap-wrap {
	flex-wrap: wrap!important
}
.flex-wrap-wrap-reverse {
	flex-wrap: wrap-reverse!important
}
/* justify-content */
.justify-content-flex-start {
	justify-content: flex-start!important
}
.justify-content-flex-end {
	justify-content: flex-end!important
}
.justify-content-center {
	justify-content: center!important
}
.justify-content-space-between {
	justify-content: space-between!important
}
.justify-content-space-around {
	justify-content: space-around!important
}

/* order */
.order-0 {
	order: 0!important
}
.order-1 {
	order: 1!important
}
.order-2 {
	order: 2!important
}
.order-3 {
	order: 3!important
}
.order-4 {
	order: 4!important
}
.order-5 {
	order: 5!important
}

/* text-decoration: text-decoration-line text-decoration-color text-decoration-style|initial|inherit */
.text-decoration-none {
	text-decoration: none!important
}

.text-decoration-underline {
	text-decoration: underline!important
}

/* text-indent */
.text-indent-0 {
	text-indent: 0em!important
}
.text-indent-2 {
	text-indent: 0.4em!important
}
.text-indent-3 {
	text-indent: 0.6em!important
}
.text-indent-4 {
	text-indent: 0.8em!important
}
.text-indent-5 {
	text-indent: 1.0em!important
}

/* text-transform */
.text-transform-none {
	text-transform: none!important
}
.text-transform-capitalize {
	text-transform: capitalize!important
}
.text-transform-lowercase {
	text-transform: lowercase!important
}

/* white-space */
.white-space-normal {
	white-space: normal!important
}
.white-space-nowrap {
	white-space: nowrap!important
}
.white-space-pre {
	white-space: pre!important
}
.white-space-pre-wrap {
	white-space: pre-wrap!important
}
.white-space-pre-line {
	white-space: pre-line!important
}

/* word-break */
.word-break-normal {
	word-break: normal!important
}
.word-break-break-all {
	word-break: break-all!important
}