---
layout: default
---

<section class="posts">
	{% include ads-top.html %}
	<div class="posts-article">
	{% for post in paginator.posts %}
		<article class="post-article">
			{% if post.image != "/assets/images/default-card.webp" %}
				<div class="post-imagem" style="background-image: url({{ site.baseurl }} {{ post.image }})" data-placeholder></div>
			{% endif %}
			<div class="post-date">
				<time datetime="{{ post.date | date_to_xmlschema }}" data-placeholder>{% include date_formatting.html date=post.date %}</time>
			</div>
			<div class="post-title">
				<a href="{{post.url | prepend: site.baseurl}}" data-placeholder>{{post.title}}</a>
			</div>
			<div class="post-tags">
				{% for tag in post.tags %}
					<a href="/tags#{{tag}}" class="tag" data-placeholder>#{{tag}}</a>
				{% endfor %}
			</div>
		</article>

		{% if forloop.index0 == 4 %}
			{% include ads-center.html %}
		{% endif %}

	{% endfor %}
	</div>

	{% comment %}
		{% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
			<hr data-content="{{ paginator.page }} de {{ paginator.total_pages }}">
		{% else %}
			<hr data-content="1 de {{ paginator.total_pages }}">
	    {% endif %}
    {% endcomment %}

	{% include pagination.html %}
</section>