---
layout: default
---
<main>
	<div class="container">
		<header-carousel class="carousel">
			<a href="{{ site.baseurl }}/series/the-boys">
				<img src="{{ site.baseurl }}/assets/img/banners/the-boys-banner-768x142.webp" alt="The Boys" loading="lazy">
			</a>
			<a href="{{ site.baseurl }}/series/stranger-things">
				<img src="{{ site.baseurl }}/assets/img/banners/stranger-things-banner-768x142.webp" alt="Stranger Things" loading="lazy">
			</a>
			<a href="{{ site.baseurl }}/series/ms-marvel">
				<img src="{{ site.baseurl }}/assets/img/banners/ms-marvel-banner-768x142.webp" alt="Ms. Marvel" loading="lazy">
			</a>
		</header-carousel>
		{% for post in paginator.posts %}
		{% include article.html %}
			{% if forloop.index == 5 %}
				<posts-carousel class="carousel">
					<a href="{{ site.baseurl }}/series/halo">
						<img src="{{ site.baseurl }}/assets/img/banners/halo-banner-768x142.webp" alt="Halo" loading="lazy">
					</a>
					<a href="{{ site.baseurl }}/series/pacificador">
						<img src="{{ site.baseurl }}/assets/img/banners/peacemaker-banner-768x142.webp" alt="Peacemaker" loading="lazy">
					</a>
					<a href="{{ site.baseurl }}/series/ruptura">
						<img src="{{ site.baseurl }}/assets/img/banners/severance-banner-768x142.webp" alt="Severance" loading="lazy">
					</a>
				</posts-carousel>
			{% endif %}
		{% endfor %}
		{% include pagination.html %}
	</div>
</main>