{% assign rank = site.data.authors[post.author].role | remove: "." %}
{% capture role %}
{% if rank == "0" %}
assinante
{% elsif rank == "1" %}
administrador
{% elsif rank == "2" %}
autor
{% elsif rank == "3" %}
editor
{% elsif rank == "4" %}
contribuinte
{% elsif rank == "5" %}
premium
{% endif %}
{% endcapture %}
<div class="author">
	<div class="author-image">
		<div class="author-letter">{{ site.data.authors[post.author].name | slice: 0 }}</div>
	</div>
	<div class="author-role {{ role | slugify: "latin" }}">{{ role | slugify: "latin" }}</div>
	<div class="author-name">{{ site.data.authors[post.author].name }}</div>
	<div class="author-infor">
		<div class="infor-posts">
			<span>Juntou-se:</span>
			<span>{{ site.data.authors[post.author].joined }}</span>
		</div>
		{% assign author_posts = site.posts | where: "author", post.author %}
		{% for post in author_posts %}
			{% if post.category == "Filmes" %}
				{% assign total_filmes = author_posts.size | plus: 0 %}
			{% endif %}
			{% if post.category == "Séries" %}
				{% assign total_series = author_posts.size | plus: 0 %}
			{% endif %}
		{% endfor %}

		<div class="infor-posts">
			<span>Filmes:</span>
			<span>{{ total_filmes }}</span>
		</div>
		<div class="infor-posts">
			<span>Séries:</span>
			<span>{{ total_series }}</span>
		</div>
		
	</div>
</div>

		