{% assign rank = site.data.authors[post.author].role | remove: "." %}
{% capture role %}
{% if rank == "0" %}
assinante
{% elsif rank == "1" %}
administrador
{% elsif rank == "2" %}
autor
{% elsif rank == "3" %}
editor
{% elsif rank == "4" %}
contribuinte
{% elsif rank == "5" %}
premium
{% endif %}
{% endcapture %}
<div class="author">
	<div class="author-image">
		<div class="author-letter">{{ site.data.authors[post.author].name | slice: 0 }}</div>
	</div>
	<div class="author-role {{ role | slugify: "latin" }}">{{ role | slugify: "latin" }}</div>
	<div class="author-name">{{ site.data.authors[post.author].name }}</div>
	<div class="author-infor">
		<div class="infor-posts">
			<span>Juntou-se:</span>
			<span>{{ site.data.authors[post.author].joined }}</span>
		</div>
		{% assign part_global = site.posts | where: "author", post.author | map: "category: 'Filmes'" | join: "," %}
		<div class="infor-posts">
			<span>Filmes:</span>
			{% assign part_filmes = part_global %}
			<span>{{ part_filmes.size }}</span>
		</div>
		<div class="infor-posts">
			<span>Séries:</span>
			{% assign part_series = part_global contains "Séries" %}
			<span>{{ part_series.size }}</span>
		</div>
		{% assign author_posts = site.posts | where: "author", post.author %}
		{% for post in author_posts %}
			{% assign total_posts = author_posts.size %}
		{% endfor %}
		<div class="infor-posts">
			<span>Publicações:</span>
			<span>{{ total_posts }}</span>
		</div>
	</div>
</div>