{% assign vote_average = post.vote_average | remove: "." %}

{% capture zero_a_cem %}
{% if vote_average | size == "1" or vote_average == "10" %}
{{ vote_average | append: "0" }}
{% else %}
{{ vote_average }}
{% endif %}
{% endcapture %}

{% assign degrees = vote_average | plus: 0 %}
{% capture status_text %}
{% if degrees <= 20 %}
Péssimo
{% endif %}
{% if degrees <= 40 %}
Ruim
{% endif %}
{% if degrees <= 60 %}
Aceitável
{% endif %}
{% if degrees <= 80 %}
Ótimo
{% endif %}
{% if degrees => 81 %}
Excelente
{% endif %}
{% if degrees == 0 %}
Nenhum
{% endif %}
{% endcapture %}


{% capture status_num %}
{% if zero_a_cem | size == "2" %}
{{ post.vote_average }}
{% elsif zero_a_cem | size == "3" %}
10
{% else %}
N/A
{% endif %}
{% endcapture %}

{% capture rating %}
{% if post.vote_count == "1" %}
{{post.vote_count}} avaliação
{% else %}
{{post.vote_count}} avaliações
{% else %}
Nenhuma avaliação
{% endif %}
{% endcapture %}
<div class="article-rating">
	<div class="rating {{ status_text | slugify: "latin" }}">
		<svg viewBox="0 0 36 36" data-status="{{ status_text | strip }}">
			<path d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
			<path stroke-dasharray="{{ zero_a_cem | strip }}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
			<text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">{{ status_num }}</text>
		</svg>
	</div>
	<span class="status-{{ status_text | slugify: "latin" }}">{{ status_text | strip }}</span>
	<div class="rating-text">{{ rating | strip }}</div>
</div>