{% capture zero_a_cem %}
{% if post.vote_average | size == "3" %}
{{ post.vote_average | remove: "." }}
{% elsif post.vote_average == "0" %}
{{ post.vote_average | remove: " " }}
{% else %}
{{ post.vote_average | append: "0" | remove: " " }}
{% endif %}
{% endcapture %}

{% capture status_text %}
{% if zero_a_cem == "00" %}
Nenhum
{% elsif zero_a_cem <= "20" %}
Péssimo
{% elsif zero_a_cem <= "40" %}
Ruim
{% elsif zero_a_cem <= "60" %}
Aceitável
{% elsif zero_a_cem <= "80" %}
Ótimo
{% elsif zero_a_cem >= "81" %}
Excelente
{% endif %}
{% endcapture %}

{% capture status_num %}
{% if zero_a_cem == "0" %}
N/A
{% elsif zero_a_cem | size == "2" %}
{{ post.vote_average }}
{% elsif zero_a_cem | size == "3" %}
10
{% endif %}
{% endcapture %}

{% capture rating %}
{% if post.vote_count == "0" %}
Nenhuma avaliação
{% elsif post.vote_count == "1" %}
{{post.vote_count}} avaliação
{% else %}
{{post.vote_count}} avaliações
{% endif %}
{% endcapture %}
<div class="article-rating"> {{ zero_a_cem }}
	<div class="rating {{ status_text | slugify: "latin" }}">
		<svg viewBox="0 0 36 36" data-status="{{ status_text | strip }}">
			<path d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
			<path stroke-dasharray="{{ zero_a_cem | strip }}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
			<text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">{{ status_num }}</text>
		</svg>
	</div>
	<span class="status-{{ status_text | slugify: "latin" }}">{{ status_text | strip }}</span>
	<div class="rating-text">{{ rating | strip }}</div>
</div>