<aside>
	<btn-stash>
		<div>Ordem de exibição</div>
		<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
        </svg>
    </btn-stash>
    <div class="category-sort category-items item-scroll">
		<filter-sort data-sort="desc" class="selected">Mais recente</filter-sort>
		<filter-sort data-sort="asc">Mais antigo</filter-sort>
    </div>
{% for x in site.data.filters %}
	{% if x.query == "post_modified" or x.query == "vote_average" or x.query == "title" or x.query == "release_date" %}
		{% continue %}
	{% else %}
		<btn-stash>
			<div>{{ x.name }}</div>
			<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
            </svg>
        </btn-stash>
        <div class="category-items item-scroll">
	        {% for y in x.items %}
	        {% assign posts = site.posts | where: x.query, y.item %}
	            {% if x.query == "adult" %}
				<btn-filter class="category-item {% if posts.size == 0 %}disabled{% endif %}" data-category="{{ x.query }}" data-query="{{ y.item }}">
					<div class="category-selector">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
							<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
						</svg>
					</div>
					<div class="category-title">{% if y.item %}18+{% else %}Normal{% endif %}</div>
					<div class="category-count" style="--num: {{ posts.size }};"></div>
				</btn-filter>
				{% elsif x.query == "vote_average" %}
				<btn-filter class="category-item {% if posts.size == 0 %}disabled{% endif %}" data-category="{{ x.query }}" data-query="{% if y.item == "Péssimo" %}0{% elsif y.item == "Ruim" %}20{% elsif y.item == "Aceitável" %}40{% elsif y.item == "Ótimo" %}60{% elsif y.item == "Excelente" %}80{% else %}N/A{% endif %}">
				 	<div class="category-selector">
				 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
				 			<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				 		</svg>
				 	</div>
				 	<div class="category-title">{{ y.item }}</div>
				 	<div class="category-count" style="--num: {{ posts.size }};"></div>
				</btn-filter>
				{% else %}
				<btn-filter class="category-item {% if posts.size == 0 %}disabled{% endif %}" data-category="{{ x.query }}" data-query="{{ y.item }}">
					<div class="category-selector">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
							<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
						</svg>
					</div>
					<div class="category-title">{{ y.item }}</div>
					<div class="category-count" style="--num: {{ posts.size }};"></div>
				</btn-filter>
				{% endif %}
	        {% endfor %}
		</div>
	{% endif %}
{% endfor %}
</aside>