{% if page.category == "Séries" %}
<div class="feed__download-modal-content">
{% for season in page.seasons %}
    <div class="season-content">
        <div class="season-title">{{ season.season_number }}ª Temporada</div>
        <div class="season-status {% if season.season_status == 'Completo' %}badge-3{% elsif season.season_status == 'Adicionando' %}badge-9{% endif %}">{{ season.season_status }}</div>
    </div>
    <div class="episodio-content">
        {% for episode in season.episodes %}
        <div class="episodio-title">{{ episode.episode_number }}º episódio</div>
        <div class="episodio-content-options">
            <div class="episodio-main-menu">
                <span>Qualidade</span>
                <span>Áudio</span>
                <span>Tamanho</span>
                <span>Servidor</span>
                <span>Download</span>
            </div>
            {% for download in episode.downloads %}
            <div class="episodio-main-download">
                <span>{{ download.quality }}</span>
                <span>{{ download.audio }}</span>
                <span>{{ download.size }}</span>
                <span>{{ download.server }}</span>
                <span>Opções</span>
            </div>
            <div class="episodio-content-download">
                {% for link in download.urls %}
                <a href="{{ link.url }}">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain={{ link.url }}" />
                    </span>
                    <span>{{ link.hostname }}</span>
                </a>                
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% else %}

{% endif %}