{% if page.category == "Séries" %}
<div class="feed__download-modal-content">
    <div class="episodio-content">
        <div class="episodio-main-menu">
            <span>Qualidade</span>
            <span>Áudio</span>
            <span>Tamanho</span>
            <span>Servidor</span>
            <span>Download</span>
        </div>
        <div class="episodio-content-options">
            <div class="episodio-main-download">
                <span>1080p</span>
                <span>Dual Àudio</span>
                <span>5GB</span>
                <span>Diversos</span>
                <span>Opções</span>
            </div>
            <div class="episodio-content-download">
                <a href="https://twitter.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=twitter.com" />
                    </span>
                    <span>twitter.com</span>
                </a>
                <a href="https://youtube.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=youtube.com" />
                    </span>
                    <span>youtube.com</span>
                </a>
            </div>
            <div class="episodio-main-download">
                <span>720p</span>
                <span>Dual Àudio</span>
                <span>3GB</span>
                <span>Diversos</span>
                <span>Opções</span>
            </div>
            <div class="episodio-content-download">
                <a href="https://twitter.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=twitter.com" />
                    </span>
                    <span>twitter.com</span>
                </a>
                <a href="https://youtube.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=youtube.com" />
                    </span>
                    <span>youtube.com</span>
                </a>
            </div>
            <div class="episodio-main-download">
                <span>480p</span>
                <span>Dual Àudio</span>
                <span>400MB</span>
                <span>Diversos</span>
                <span>Opções</span>
            </div>
            <div class="episodio-content-download">
                <a href="https://twitter.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=twitter.com" />
                    </span>
                    <span>twitter.com</span>
                </a>
                <a href="https://youtube.com/">
                    <span>
                        <img src="https://s2.googleusercontent.com/s2/favicons?domain=youtube.com" />
                    </span>
                    <span>youtube.com</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% else %}

{% endif %}