<script>
	window.addEventListener("load", function() { 
		var remove = document.querySelectorAll('a, span, div, time');
		Array.prototype.forEach.call(remove, (item) => item.removeAttribute('data-placeholder'));
	});
	var sliders  = document.querySelectorAll(".article-banner a"), current  = 0, total = sliders.length - 1;
	if (typeof sliders[0] !== "undefined") {
		window.setInterval(function(){
			var index =  current ? current - 1 : total;
			sliders[index].className  = "";
			sliders[current].className  = "slider-active";
			current = current >= total ? 0 : current+1;     
		}, 4000);
	}
</script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
{% if page.category %}
<script>
	var season_show = document.querySelectorAll(".season-content");
	for (let i = 0; i < season_show.length; i++) {
		season_show[i].addEventListener("click", function() {
			season_show[i].classList.toggle("show");
			season_show[i].nextElementSibling.classList.toggle("active");
		});
	}
	var episode_show = document.querySelectorAll(".episode-title");
	for (let i = 0; i < episode_show.length; i++) {
		episode_show[i].addEventListener("click", function() {
			episode_show[i].classList.toggle("show");
			episode_show[i].nextElementSibling.classList.toggle("active");
		});
	}
	var download_show = document.querySelectorAll(".episode-main-download");
	for (let i = 0; i < download_show.length; i++) {
		download_show[i].addEventListener("click", function() {
			download_show[i].classList.toggle("show");
			download_show[i].nextElementSibling.classList.toggle("active");
		});
	}
</script>
{% if site.encrypt_status %}
<script>
(()=> {
	var encrypt = (salt, text) => {
		var textToChars = (text) => text.split("").map((c) => c.charCodeAt(0)), byteHex = (n) => ("0" + Number(n).toString(16)).substr(-2), applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
		return text.split("").map(textToChars).map(applySaltToChar).map(byteHex).join("");
	}
	/* REMOVER O DECRYPT QUANDO FOR PARA PRODUÇÃO */
	var decrypt = (salt, encoded) => {
		var textToChars = (text) => text.split("").map((c) => c.charCodeAt(0)), applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
		return encoded.match(/.{1,2}/g).map((hex) => parseInt(hex, 16)).map(applySaltToChar).map((charCode) => String.fromCharCode(charCode)).join("");
	}
	var url_redirect = "https://groupunknown.com/?url=", urls_bases = [{{ site.encrypt_urls_bases | join: ", " }}];
	for (let url of urls_bases){
		const all_urls = document.querySelectorAll("a[href*='" + url + "']");
		all_urls.forEach(value => {
			var url_encrypt = encrypt("{{ site.encrypt_key }}", value.getAttribute("href"));
			value.setAttribute("href", url_redirect + url_encrypt)
			value.setAttribute("target", "_blank")
		});
	}
})();
</script>
{% endif %}
{% endif %}
{% if page.layout == "taxonomy" %}
<script src="{{ site.baseurl }}/assets/js/pagination.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/index.js"></script>
{% endif %}