{% if page.category %}
    <script>
    	const accordion = (a) => {
    		var show = document.querySelectorAll(a);
    		for (let i = 0; i < show.length; i++) {
    			show[i].addEventListener("click", function() {
    				show[i].classList.toggle("show");
    				show[i].nextElementSibling.classList.toggle("active");
    			});
    		}
    	};
    	accordion(".season-content");
    	accordion(".episode-title");
    	accordion(".episode-main-download");
    </script>
    {% if site.encrypt_status %}
    <script>
        const encrypt = (salt, text) => {
        	const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0)), byteHex = (n) => ("0" + Number(n).toString(16)).substr(-2), applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
        	return text.split("").map(textToChars).map(applySaltToChar).map(byteHex).join("");
        };
        const decrypt = (salt, encoded) => {
        	const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0)), applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
        	return encoded.match(/.{1,2}/g).map((hex) => parseInt(hex, 16)).map(applySaltToChar).map((charCode) => String.fromCharCode(charCode)).join("");
        };
        const url_redirect = "{{ site.encrypt_url_redirect }}", urls_bases = {{ site.encrypt_urls_bases | jsonify }};
        for (let url of urls_bases){
        	const all_urls = document.querySelectorAll("a[href*='" + url + "']");
        	all_urls.forEach(value => {
        		const url_encrypt = encrypt("{{ site.encrypt_key }}", value.getAttribute("href"));
        		value.setAttribute("href", url_redirect + url_encrypt);
        		value.setAttribute("target", "_blank");
        	});
        }
    </script>
    {% endif %}
{% endif %}
<script>
var s  = document.querySelectorAll("slider-banner a"), c  = 0, n = s.length - 1;
if (typeof s[0] !== "undefined") {
    window.setInterval(function(){
        var i =  c ? c - 1 : n;
        s[i].className  = "";
        s[c].className  = "active";
        c = c >= n ? 0 : c+1;     
    }, 4000);
}
customElements.define("aside-highlights-header-tab", class extends HTMLElement {
    constructor() {
        super();
        this.addEventListener("click", e => {
            [...this.parentElement.nextElementSibling.children].forEach((elem) => {
                elem.classList.remove("selected");
            });
            [...this.parentElement.children].forEach((tab, index) => {
                const isCurrent = (tab === this);
                tab.classList.toggle("selected", isCurrent);
                if (tab === this) {
                    this.parentElement.nextElementSibling.children[index].classList.add("selected")
                }
            });
        });
    }
});
customElements.define("header-mobile", class extends HTMLElement {
    constructor() {
        super();
        this.addEventListener("click", e => {
            this.classList.toggle("active");
            this.previousElementSibling.classList.toggle("active");
            this.nextElementSibling.classList.toggle("active");
        });
    }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
{% if page.layout == "taxonomy" %}
<script src="{{ site.baseurl }}/assets/js/pagination.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/index.js"></script>
{% endif %}