<header class="header_sticky">
	<div class="menu-items">
		<a class="menu-item" href="#">Página Inicial</a>
		<a class="menu-item" href="#">Filmes</a>
		<a class="menu-item" href="#">Séries</a>
		<a class="menu-item" href="#">Jogos</a>
		<a class="menu-item" href="#">Músicas</a>
		<a class="menu-item" href="#">Programas</a>
		<a class="menu-item" href="#">Blog</a>
	</div>
</header>
<div class="search__suggest">
	<form role="form">
		<div class="search-suggest-input">
			<input type="text" id="search" placeholder="Procure pelo nome do filme, série, ator ou atriz..." autocomplete="off" spellcheck="false">
		</div>
	</form>
	<div class="search-suggest-results search-suggest-result-empty"></div>
	{% assign total_filmes = 0 %}
	{% for post in site.posts %}
	{% if post.category == "Filmes" %}
	{% assign total_filmes = total_filmes | plus: 1 %}
	{% endif %}
	{% endfor %}
	{% assign total_series = 0 %}
	{% for post in site.posts %}
	{% if post.category == "Séries" %}
	{% assign total_series = total_series | plus: 1 %}
	{% endif %}
	{% endfor %}
	<div class="search-suggest-text">{{ total_filmes }} filmes e {{ total_series }} séries disponíveis no site.</div>
</div>