<header class="header_sticky">
	<div class="menu-items">
		<a class="menu-item" href="#">Página Inicial</a>
		<a class="menu-item" href="#">Filmes</a>
		<a class="menu-item" href="#">Séries</a>
		<a class="menu-item" href="#">Jogos</a>
		<a class="menu-item" href="#">Músicas</a>
		<a class="menu-item" href="#">Programas</a>
		<a class="menu-item" href="#">Blog</a>
	</div>
</header>
<div class="search__suggest">
	<form role="form">
		<div class="search-suggest-input">
			<input type="text" id="search" placeholder="O que você procura?" autocomplete="off" spellcheck="false">
		</div>
	</form>
	<div class="search-suggest-results search-suggest-result-empty"></div>
	<div class="search-suggest-text">Procure por filmes, séries, diretores, atores ou ID do IMDb & TMDb.</div>
</div>