<header class="header_sticky width-responsive">
	<div class="header-logo">
		<a href="{{ site.baseurl }}/">
			<img src="{{ site.baseurl }}/assets/img/logo.webp">
		</a>
	</div>
	<div class="search__suggest">
		<form role="form">
			<div class="search-suggest-input">
				<input type="text" id="search" placeholder="O que você procura?" autocomplete="off" spellcheck="false">
			</div>
		</form>
		<div class="search-suggest-results search-suggest-result-empty"></div>
		<div class="search-suggest-text">Procure por títulos de filmes & séries, nome de diretores & atores ou ID do IMDb & TMDb.</div>
	</div>
</header>