<aside class="aside-left">
	<nav>
		<span>{{ site.data.laside.condicao_title }}</span>
		{% for item in site.data.laside.condicao_links %}
			<a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.icon }}{{ item.title }}</a>
		{% endfor %}

		<span>{{ site.data.laside.testes_title }}</span>
		{% for item in site.data.laside.testes_links %}
			<a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.icon }}{{ item.title }}</a>
		{% endfor %}

		<span>{{ site.data.laside.diversos_title }}</span>
		{% for item in site.data.laside.diversos_links %}
			<a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.icon }}{{ item.title }}</a>
		{% endfor %}

	</nav>
</aside>