<noscript>
	<style type="text/css">.search__suggest, .articles {display: none;}</style>
	<div class="alert">
		<div>Olá visitante, parece que o <span>javascript</span> está desabilitado!</div>
		<div>Alguns recursos no site necessitam do javascript para funcionar, como, por exemplo, o buscador em tempo real, funcionalidades estéticas da página e nosso protetor de links.</div>
		<div>Aqui estão as <a href="https://www.enable-javascript.com/pt/" target="_blank">instruções de como habilitar o JavaScript no seu navegador</a>.</div>
		<div>Caso você tenha desabilitado para burlar o protetor de links, peço encarecidamente que reconsidere e o habilite novamente, mesmo desabilitando o javascript o acesso aos downloads ficara inviável, tendo em vista que outras funcionalidades estéticas da página estarão desabilitadas, e mesmo que por algum milagre você consiga acessar a publicação, infelizmente você sera automaticamente redirecionado para a página inicial.</div>
		<div>O melhor jeito de passa pelo protetor e fazendo uma doação e liberar o acesso para doadores.</div>
		<div>OK, você deve esta pensando:</div>
		<em>Por que gastaria dinheiro doando para o site se eu posso baixar em outro site?</em>
		<div>Você não precisa doar para baixar os arquivos, mas infelizmente você vai precisa passar pelo protetor se quiser baixar algum arquivo do site, vou explicar o motivo do protetor.</div>
		<div>Manter um site funcionando requer muito mais do que a maioria das pessoas imagina, existe toda uma estrutura por de trás da cortina, existem diversos serviços de terceiros que todo final de mês requer pagamento para continuar funcionando, como por ex.: o servidor do site, as contas em sites de streaming, os geradores de links premium, o serviço de VPN, o serviço de RDP e outros.</div>
		<div>O protetor foi a forma que encontrei para conseguir manter toda a estrutura funcionando, eu sei, e chato, mas um mal necessário, mas não se preocupe, o protetor não tem anúncios invasivos ou pop-ups irritantes.</div>
		<div>Só o fato de você passar pelo protetor já vai esta ajudando a manter o site.</div>
	</div>
</noscript>