<aside class="aside-right">
	{% ads ca-pub-00000000000000|555555555 %}
	<div class="ads-block">
		<span>Ads</span>
		<span>coming soon!</span>
	</div>

	<div class="cards">
		<div class="card-header">Postagens recentes</div>
		<div class="cards-posts">
			{% for post in site.posts limit:8 %}
			<a href="{{post.url | prepend: site.baseurl}}">
				<span>{{post.title}}</span>
				<time datetime="{{ post.date | date_to_xmlschema }}">{% include date_formatting.html date=post.date %}</time>
			</a>
			{% endfor %}
		</div>
	</div>

	<div class="ads-block-sub">
		<span>Ads</span>
		<span>coming soon!</span>
	</div>

</aside>