{% assign post = page %}
{% if post.tags.size > 0 %}
    <div class="cards">
        <div class="card-header">Postagens relacionadas</div>
        <div class="cards-posts">
            {% assign maxrc = 0 %}
            {% for post in site.posts %}
                {% if post.url != page.url %}
                    {% if post.tags == page.tags %}
                        <a href="{{post.url | prepend: site.baseurl}}">
                            <span>{{post.title}}</span>
                            <time datetime="{{ post.date | date_to_xmlschema }}">{% include date_formatting.html date=post.date %}</time>
                        </a>
                        {% assign maxrc  = maxrc | plus: 1 %}
                        {% if maxrc == 3 %}
                            {% break %}
                        {% endif %}
                    {% else %}

                        {% if page.previous.url or page.next.url %}
                            {% if page.next.url %}
                                <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
                                    <span>{{page.next.title}}</span>
                                    <time datetime="{{ page.next.date | date_to_xmlschema }}">{% include date_formatting.html date=post.date %}</time>
                                </a>
                            {% endif %}
                            {% if page.previous.url %}
                                <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
                                    <span>{{page.previous.title}}</span>
                                    <time datetime="{{ page.previous.date | date_to_xmlschema }}">{% include date_formatting.html date=post.date %}</time>
                                </a>
                            {% endif %}
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}