{% if page.category == "Séries" %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "TVSeries",
    "name": {{ post.title | jsonify }},
    "image": "https://image.tmdb.org/t/p/original{{ post.poster_path }}",
    "genre": [{% for genre in post.genres %}{{ genre | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}],
    "description": {{ post.description | jsonify }},
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": {{ post.vote_count | jsonify }},
        "bestRating": 10,
        "worstRating": 1,
        "ratingValue": {{ post.vote_average | jsonify }}
    }
}
</script>
{% elsif page.category == "Filmes" %}

{% else %}
{% seo title=false %}
{% endif %}