{% if page.category %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "{% if page.category == "Filmes" %}Movie{% elsif page.category == "Séries" %}TVSeries{% endif %}",
    "name": {{ page.title | jsonify }},
    "image": "https://image.tmdb.org/t/p/original{{ page.poster_path }}",
    "dateCreated": {{ page.post_date | jsonify }},
    "dateModified": {{ page.post_modified | jsonify }},
    "genre": [{% for genre in page.genres %}{{ genre | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}],
    "description": {{ page.description | jsonify }},
    "contentRating": {{ page.certification | jsonify }},
    "creator": [{% for crew in page.crews %}
        {
            "@type": "Person",
            "name": {{ crew | jsonify }}
        }{% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "actor": [{% for cast in page.casts %}
        {
            "@type": "Person",
            "name": {{ cast | jsonify }}
        }{% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": {{ page.vote_count | jsonify }},
        "bestRating": 10,
        "worstRating": 1,
        "ratingValue": {{ page.vote_average | jsonify }}
    },
    "{% if page.category == "Filmes" %}duration{% elsif page.category == "Séries" %}timeRequired{% endif %}": "PT{% if page.runtime <= 60 %}{{ page.runtime }}M{% else %}{{ page.runtime | divided_by: 60 | floor }}H{{ page.runtime | modulo: 60 }}M{% endif %}"
}
</script>
{% else %}
{% seo title=false %}
{% endif %}