:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 4%);
    --color-light: hsl(0, 0%, 96%);
    --color-dark: hsl(0, 0%, 21%);
    --background: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 0%);
    --color-grey: hsl(0, 0%, 96%);
    --menu-hover: hsl(216, 14%, 93%);
    --link: hsl(212, 97%, 43%);
    --highlight-background: #fffdf0;
    --highlight-border: #fff4be;
    --selection-color: #fff4be;
}

[data-theme="dark"] {
     --background: #24252f;
    --color: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 21%);
    --color-grey: #333541;
    --menu-hover: hsl(221, 17%, 18%);
    --link: hsl(0, 0%, 100%);
    --highlight-background: #262b36;
    --highlight-border: #464646;
    --selection-color: #262b36;
}

@media (prefers-color-scheme: light) {
    html {
        content: "dark";
    }
}

*,:after,:before {
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: .9375rem;
	line-height: 1.5;
	color: var(--color);
    background-color: var(--background);
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

nav ul {
    border-right: 1px solid var(--color-grey);
}

a {
    color: var(--color);
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}


::selection {
    background: var(--selection-color)
}

::-moz-selection {
    background: var(--selection-color)
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.theme-switch input {
    display:none;
}

.slider {
    width: 22px;
    height: 100%;
    cursor: pointer;
    transition: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider:before {
    color: var(--color);
    content: "\2600";
    font-size: 24px;
    position: absolute;
}

input:checked + .slider:before {
    content: "\2600";
}
.slider.round:before {
    border-radius: 2px;
}

.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 2rem 0;
}

code,pre {
	background: var(--color-grey);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}

hr {
	background: var(--color);
    height: 1px;
    border: 0;
}

header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
}

header,section {
	padding:1rem;
}

blockquote {
	font-style: italic;
    border-left: 5px solid var(--color-grey);
    padding-left: 1rem;
}

h1,h2,h3,h4,h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: .5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	//list-style-position: inside;
}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:60rem;
	margin:2rem auto;
	padding:1rem;
}


@media screen and (max-width: 45rem ) {
	header li {
	    display: inline;
		margin-right: 1rem;
	}
	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		border-bottom: 1px solid var(--color-grey);
		padding-bottom: 2rem;	
	}
	nav ul {
	    border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}

}

section {
	flex-basis:0;
	flex-grow:999;
	min-width:70%;
	display:flex;
	flex-direction:column;
	
}

figcaption {
    font-size: smaller;
}

.tag {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	padding: .1rem .5rem;
    color: var(--color);
    background: var(--color-grey);
    border-radius: 2px;
    letter-spacing: -0.025rem;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: .5rem;
}

.pagination div a {
    background: var(--background);
    padding: .5rem 1rem;
    border-radius: 3px;
}

.pagination div a:hover {
    background-color: var(--color-grey);
}

.post {
    background-color: var(--background);
    box-shadow: 5px 5px 0px var(--color-grey);
    -webkit-box-shadow: 5px 5px 0px var(--color-grey);
    border: 1px solid var(--color-grey);
}