:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 4%);
    --color-light: hsl(0, 0%, 96%);
    --color-dark: hsl(0, 0%, 21%);
    --background: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 0%);
    --color-grey: hsl(0, 0%, 96%);
    --menu-hover: hsl(216, 14%, 93%);
    --link: hsl(212, 97%, 43%);
    --highlight-comment-background: #fffdf0;
    --highlight-comment-border: #fff4be;
}

[data-theme="dark"] {
     --background: #24252f;
    --color: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 21%);
    --color-grey: #333541;
    --menu-hover: hsl(221, 17%, 18%);
    --link: hsl(0, 0%, 100%);
    --highlight-comment-background: #262b36;
    --highlight-comment-border: #464646;
}

@media (prefers-color-scheme: light) {
    html {
        content: "dark";
    }
}

body {
    color: var(--color);
    background-color: var(--background);
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

::selection {
    background: #fff4be
}

::-moz-selection {
    background: #fff4be
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section {
    display: block
}

ol, ul, li {
    list-style: none
}

ol, ul {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,td,th {
    font-weight: 400;
    text-align: left
}

blockquote:after,blockquote:before,q:after,q:before {
    content: ""
}

blockquote,q {
    quotes: "" ""
}

a:active,a:focus,a:hover {
    outline: 0
}

a img {
    border: 0
}

input[type=email],input[type=password],input[type=search],input[type=text] {
    border-radius: 0
}

* {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: -.015em
}

body,button,input,select,textarea {
    color: var(--color);
    font-size: 16px;
    line-height: 1.5;
}

button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    cursor: default;
}
h1 {
    color: #333;
    font: 400 48px/60px Roboto Condensed,Roboto,Arial,sans-serif;
    -webkit-font-smoothing: inherit;
    letter-spacing: -.5px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    h1 {
        font-size:50px;
        line-height: 65px;
        margin-bottom: 30px
    }
}

h2 {
    color: #333;
    font: 400 28px/40px Roboto Condensed,Roboto,Arial,sans-serif;
    -webkit-font-smoothing: inherit;
    letter-spacing: -.4px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    h2 {
        font-size:30px;
        line-height: 45px;
        margin-bottom: 30px
    }
}

h3 {
    color: #333;
    font: 700 20px/30px Roboto Condensed,Roboto,Arial,sans-serif;
    -webkit-font-smoothing: inherit;
    letter-spacing: -.4px;
    margin-bottom: 10px;
    padding-top: 10px
}

@media (min-width: 768px) {
    h3 {
        font-size:22px;
        line-height: 35px;
        margin-bottom: 15px;
        padding-top: 15px
    }
}

h4 {
    color: #333;
    font: 700 16px/25px Roboto,Arial,sans-serif;
    margin-bottom: 10px;
    padding-top: 10px
}

@media (min-width: 768px) {
    h4 {
        font-size:18px;
        line-height: 30px;
        margin-bottom: 15px;
        padding-top: 15px
    }
}

h5 {
    color: var(--color-grey);
    font: 400 14px/30px Roboto,Arial,sans-serif;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    h5 {
        font-size:15px;
        line-height: 28px;
        margin-bottom: 30px
    }
}

h6 {
    color: var(--color-grey);
    font: 700 12px/22px Roboto,Arial,sans-serif;
    margin-bottom: 12px
}

h6 span {
    font-weight: 400
}

p {
    color: var(--link);
    font: 400 16px/30px Roboto,Arial,sans-serif;
    letter-spacing: -.24px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    p {
        font-size:18px;
        line-height: 30px;
        margin-bottom: 30px
    }
}

p strong {
    color: var(--link);
    font-weight: 700
}

ol,ul {
    color: var(--link);
    font: 400 16px/30px Roboto,Arial,sans-serif;
    margin: 0 10px 25px;
    padding: 0 0 0 20px
}

ol ol,ol ul,ul ol,ul ul {
    margin: 0 15px;
    padding-top: 20px
}

@media (min-width: 768px) {
    ol,ul {
        font-size:18px;
        line-height: 30px;
        margin: 0 15px 30px
    }
}

blockquote {
    color: var(--link);
    display: block;
    font: italic 300 28px/40px Roboto Condensed,Roboto,Arial,sans-serif;
    letter-spacing: -.4px;
    margin-bottom: 25px;
    padding: 15px 45px
}

@media (min-width: 768px) {
    blockquote {
        font-size:30px;
        line-height: 45px;
        margin-bottom: 30px
    }
}

blockquote p {
    font: inherit
}

blockquote p:last-child {
    margin: 0
}

@media (min-width: 768px) {
    blockquote p {
        font-size:30px;
        line-height: 45px
    }
}

code,pre {
    color: var(--color-grey);
    display: block;
    font: 400 14px/25px Roboto,Arial,sans-serif;
    letter-spacing: -.4px;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line
}

@media (min-width: 768px) {
    code,pre {
        font-size:15px;
        line-height: 28px;
        margin-bottom: 30px
    }
}

ol li code,ol li pre,ul li code,ul li pre {
    display: inline-block;
    margin: 0
}

b,strong {
    font-weight: 500
}

a {
    font-family: Roboto,Arial,sans-serif;
    color: var(--link);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

a,a:visited {
    text-decoration: none
}

a:active,a:focus,a:hover {
    text-decoration: none;
    color: var(--link)
}

cite, dfn, em, i {
    font-style: italic
}

input:focus,select:focus,textarea:focus {
    outline: none
}

hr {
    position: relative;
    width: 100%;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
}

hr:before {
    content: '';
    background: linear-gradient(to right, transparent, var(--color-grey), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

hr:after {
    content: attr(data-content);
    position: relative;
    color: var(--color-grey);
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: var(--background);
}


ol,ul {
    margin: 0
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

img {
    max-width: 100%;
    display: block
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 700
}

time {
	font-size: .8em;
}

.main {
    max-width: 768px;
    margin: 0 auto;
    backface-visibility: hidden;
}

.posts {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.post-content {
    display: flex;
    padding-bottom: 3em;
}

.author {
    max-width: 98px;
    padding: .5em;
    margin-right: 1em;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(154,154,154,0.04);
    box-shadow: 0 2px 3px 0 rgba(154,154,154,0.04);
    border: 1px solid var(--color-grey);
}

.right .author {
    order: 2;
    margin-right: 0;
    margin-left: 1em;
}
.right .post-itens {
    flex-direction: row-reverse;
}

.author-avatar {
    width: 80px;
    height: 80px;
}

.author img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
}

.user-overlay {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
}

.post-sub-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    padding: 1em;
}

.left .post-sub-content {
    background-color: var(--background);
    box-shadow: 5px 5px 0px var(--color-grey);
    -webkit-box-shadow: 5px 5px 0px var(--color-grey);
    border: 1px solid var(--color-grey);
}
.right .post-sub-content {
    background-color: var(--background);
    box-shadow: -5px 5px 0px var(--color-grey);
    -webkit-box-shadow: -5px 5px 0px var(--color-grey);
    border: 1px solid var(--color-grey);
}
.left .post-sub-content:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 20%;
    left: -9px;
    background: var(--background);
    border: 1px solid transparent;
    border-left-color: var(--color-grey);
    border-bottom-color: var(--color-grey);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.right .post-sub-content:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 20%;
    right: -9px;
    background: var(--background);
    border: 1px solid transparent;
    border-right-color: var(--color-grey);
    border-top-color: var(--color-grey);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.post-title {
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.post-title a {
    color: var(--color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-description {
    font-size: .8em;
}

.post-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag {
	font-size: .8em;
    padding: .3em .5em;
    color: var(--color);
	background: var(--color-grey);
    vertical-align: middle;
    line-height: 1em;
    border-radius: 2px;
    letter-spacing: -0.025em;
}

.post-date {
    font-size: .8em;
}

.author-name {
    font-size: .8em;
    font-weight: 600;
    padding-top: .5em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.author-name {
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-shadow: 0px 0px 5px #FFEB3B;
    background-image: url('assets/img/magic-effect.gif'),linear-gradient(90deg,#f00 0%,#29ff00 100%,#fff);
    animation: namerainbow 5s infinite linear;
}

@keyframes namerainbow {
    0% {
        filter: hue-rotate(-360deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.author-role {
    position: relative;
    margin: .5em -.8em .3em -.8em;
    text-align: center;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.author-role:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 4px;
    top: -3px;
    left: 0;
    border-top-left-radius: .3em;
}

.author-role:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 4px;
    top: -3px;
    right: 0px;
    border-top-right-radius: .3em;
}
.author-role em {
    user-select: none;
    font-size: .8em;
    font-style: normal;
    font-weight: normal;
}

.ribbon-administrator {
    color: var(--color-white);
    background: #E53935;
    box-shadow: 0px 5px 5px 0px rgba(255, 17, 0, 0.3);
}

.author-role.ribbon-administrator:before,
.author-role.ribbon-administrator:after {
    background: #E53935;
}

.ribbon-editor {
    color: var(--color-white);
    background: #2196F3;
    box-shadow: 0px 3px 3px 0px #0063eb4d;
}
.author-role.ribbon-editor:before,
.author-role.ribbon-editor:after {
    background: #2196F3;
}

.ribbon-author {
    color: var(--color-white);
    background: #8BC34A;
    box-shadow: 0px 3px 3px 0px #8bc34a63;
}
.author-role.ribbon-author:before,
.author-role.ribbon-author:after {
    background: #8BC34A;
}

.ribbon-contributor {
    color: var(--color-white);
    background: #FFCA28;
    box-shadow: 0px 3px 3px 0px #ffca284d;
}
.author-role.ribbon-contributor:before,
.author-role.ribbon-contributor:after {
    background: #FFCA28;
}

@media screen and (max-width: 768px) {
    .post-content.left {
        padding: 0 2em;
    }
    .post-content.right {
        padding: 2em;
    }
    .author {
        display: none;
    }
    .post-sub-content:before {
        display: none;
    }
    .right .post-sub-content {
        box-shadow: 5px 5px 0px var(--color-grey);
        -webkit-box-shadow: 5px 5px 0px var(--color-grey);
    }
    .post-sub-content {
        min-height: 150px;
    }
    .right .post-itens {
        flex-direction: row;
    }
}