:root {
	--color: hsl(0, 0%, 0%);
	--background: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
	--color: hsl(0, 0%, 100%);
	--background: hsl(222, 18%, 14%);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: Segoe UI, Helvetica, Arial;
	font-size: 14px;
	margin: 0;
	line-height: 1.42857143;
	color: var(--color);
	background-color: var(--background);
	cursor: default;
}

body,
html {
  height: 100%;
  display: grid;
}

a {
	color: var(--color);
	background-color: transparent;
}

a,
a:active,
a:hover {
	text-decoration: none;
	outline: 0;
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

b,
strong {
	font-weight: 600;
}

::-webkit-scrollbar {
	width: 10px;
	height: 18px;
}

::-webkit-scrollbar-thumb {
	height: 5px;
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.theme-switch input {
	display:none;
}

.slider {
	width: 22px;
	height: 100%;
	cursor: pointer;
	transition: .4s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.slider:before {
	color: var(--color);
	font-family: 'Font Awesome 5 Free';
	content: "\f186";
	font-size: 16px;
	font-weight: 300;
	position: absolute;
	transition: .4s;
}

input:checked + .slider:before {
	color: var(--color);
	font-weight: 600;
}

.slider.round:before {
	border-radius: 2px;
}

.container {
	margin: auto;
}