:root {
    --primary: #03a9f4;
    --secondary: #6c757d;
    --success: #7dc855;
    --info: #78BCEE;
    --warning: #FCCE54;
    --danger: #ED5564;
    --light: #f8f9fa;
    --dark: #272C33;
    --white: #fff;
    --black: #000;
    --grey: #f5f5f5;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bg-1: #e4fbe9;
    --cl-1: #51c46e;
    --bg-2: #fee6d5;
    --cl-2: #ffa971;
    --bg-3: #dff4ff;
    --cl-3: #5d92c5;
    --bg-4: #fff2bb;
    --cl-4: #d9a531;
    --bg-5: #e5e5ff;
    --cl-5: #716eef;
    --bg-6: #e7f9f7;
    --cl-6: #32beb8;
}

html {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-focus-inner {
    border: 0;
}

body {
    position: relative;
    margin: 0;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:focus {
    outline: 0;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

button {
    all: unset;
}

[hidden] {
    display: none;
}

.active {
    display: grid!important;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

.comma a {
    text-decoration: none;
}

.comma a:not(:last-child)::after {
    content: ", ";
}

[data-placeholder] {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeholder;
    animation-name: placeholder;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba(255,255,255,0.1) 10%, rgba(0,0,0,0.05) 25%, rgba(255,255,255,0.1) 40%);
    box-shadow: inset 0 0 0 200px rgba(0,0,0,0.025);
    background-color: transparent !important;
    background-size: 800px 100px;
    position: relative;
    pointer-events: none;
    user-select: none;
}

a[data-placeholder],
span[data-placeholder],
div[data-placeholder] {
    color: transparent !important;
    border-radius: 3px;
}

@keyframes placeholder{
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.header {
    box-shadow: 0 10px 5px 10px #f8f9fa;
}

.header__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center flex-start;
    grid-gap: 1rem;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.nav__menu,
.nav__logo,
.nav__config {
    display: grid;
    place-items: center;
}

.nav__logo {
    width: 100%;
}

.nav__btn-menu {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    -moz-appearance: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

.nav__btn-menu span {
    background: var(--dark);
    height: 2px;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 24px;
}

.nav__btn-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.nav__btn-menu.active span:nth-child(2) {
    opacity: 0;
}

.nav__btn-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.feed__articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 1024px;
    width: 768px;
    margin: auto;
}

.feed__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(20px, auto));
    border: 1px solid #efefef;
    box-shadow: 0 4px 6px -1px var(--light), 0 2px 4px -1px var(--light);
    border-radius: 3px;
}

.feed__article-column {
    display: grid;
    grid-template-columns: 140px repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 5%);
}

.feed__article-header, .feed__article-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    padding: .5rem 1rem;
}

.feed__article-header {
    background: #fcfcfc;
    border-bottom: 1px solid #efefef;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.feed__article-footer {
    place-items: center;
    background: #fcfcfc;
    border-top: 1px solid #efefef;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.feed__article-header > div:first-child,
.feed__article-footer > div:first-child {
    place-self: flex-start;
}

.feed__article-header > div:last-child,
.feed__article-footer > div:last-child {
    place-self: flex-end;
}

.feed__article-ribbon {
    padding: 0 .5rem;
    border-radius: 2px;
}

.feed__article-footer-column div {
    display: inline;
}

.feed__article-footer-column div:first-child {
    font-weight: 500;
}

.feed__article-row.poster {
    display: grid;
    grid-column: 1;
    grid-gap: .5rem;
}

.feed__article-row .backdrop img {
    border-radius: 3px;
}

.feed__article-row .backdrop {
    position: relative;
    max-width: 140px;
    max-height: 210px;
    background: var(--light);
    border-radius: 3px;
}

.feed__article-row .backdrop .feed__download-show {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 90, 135, 0.25);
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: linear .2s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.feed__article-row .backdrop:hover > .feed__download-show {
    visibility: visible;
    opacity: 1;
}

.feed__article-sub-row h2 {
    margin-bottom: .25rem;
}

.feed__article-row.plot-summary {
    display: grid;
    grid-column: 2 / -1;
    place-items: center start;
}

.feed__plot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.feed__crew, .feed__cast, .feed__genre, .feed__run-time {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .5rem;
}

.feed__crew div:first-child, .feed__cast div:first-child, .feed__genre div:first-child, .feed__run-time div:first-child {
    font-weight: 500;
}

.feed__article-sub-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    width: 100%;
}

.feed__article-certification {
    display: grid;
    grid-gap: 0 .5rem;
    place-items: center end;
}

.certification {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 2px;
    user-select: none;
}

.certification.age-L {
    background: #00a651
}

.certification.age-10 {
    background: #0094da
}

.certification.age-12 {
    background: #ffca05
}

.certification.age-14 {
    background: #f5821f;
}

.certification.age-16 {
    background: #eb1d1b;
}

.certification.age-18 {
    background: #000000
}

.feed__article-rating {
    display: grid;
    grid-gap: 0 .5rem;
    place-items: center start;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.feed__article-rating span {
    display: grid;
    grid-row: 1 / span 1;
    font-size: .875rem;
    font-weight: 500;
}

.rating {
    display: grid;
    grid-row: 1 / span 2;
    width: 40px;
    height: 40px;
    user-select: none;
}

.feed__article-rating svg path:nth-child(1) {
    fill: none;
    opacity: .5;
    stroke: inherit;
    stroke-width: 4;
}

.feed__article-rating svg path:nth-child(2) {
    -webkit-animation: progress 1s ease-out forwards;
    animation: progress 1s ease-out forwards;
    fill: none;
    stroke: inherit;
    stroke-linecap: round;
    stroke-width: 4;
}

.feed__article-rating svg text {
    fill: inherit;
    font-size: 1rem;
    letter-spacing: -0.0625rem;
    font-weight: 100;
    stroke: none !important;
    text-anchor: middle;
}

.rating-text {
    display: grid;
    grid-row: 2 / span 1;
    font-size: .785rem;
}

@-webkit-keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.rating.nenhum,
.status-nenhum {
    fill: #dee0ec !important;
    stroke: #dee0ec !important;
}

.rating.pessimo,
.status-pessimo {
    color: #ff3722 !important;
    fill: #ff3722 !important;
    stroke: #ff3722 !important;
}

.rating.ruim,
.status-ruim {
    color: #ff8622 !important;
    fill: #ff8622 !important;
    stroke: #ff8622 !important;
}

.rating.aceitavel,
.status-aceitavel {
    color: #ffce00 !important;
    fill: #ffce00 !important;
    stroke: #ffce00 !important;
}

.rating.otimo,
.status-otimo {
    color: #73cf11 !important;
    fill: #73cf11 !important;
    stroke: #73cf11 !important;
}

.rating.excelente,
.status-excelente {
    color: #4aa757 !important;
    fill: #4aa757 !important;
    stroke: #4aa757 !important;
}

[aria-label][data-tooltipped] {
    position: relative;
    cursor: help;
}

[aria-label][data-tooltipped]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba(16, 16, 16, 0.95);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
}

[aria-label][data-tooltipped]:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: 12px;
    background: rgba(16, 16, 16, 0.95);
    border-radius: 2px;
    color: #fff;
    border-radius: 2px;
    content: attr(aria-label);
    padding: .5rem .75rem;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[aria-label][data-tooltipped]:hover:before,
[aria-label][data-tooltipped]:hover:after {
    opacity: 1;
    pointer-events: none;
}

[aria-label][data-tooltipped][data-tooltipped^="top-right"]:before {
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
}

[aria-label][data-tooltipped][data-tooltipped^="top-right"]:after {
    margin-bottom: 10px;
    margin-right: -20px;
    bottom: 100%;
    right: 50%;
}

.feed__btn-download {
    display: grid;
    place-items: center;
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}

.feed__btn-download svg {
    color: var(--white);
}

.feed__download-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(80, 90, 135, 0.25);
    backdrop-filter: blur(3px);
}

.feed__download-modal-content {
    display: grid;
    grid-gap: .75rem;
    grid-auto-rows: min-content;
    width: 992px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--white);
}

.temporada-main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    place-items: center start;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 5%);
}

.temporada-main:hover {
    background: var(--light);
}

.temporada-main.active {
    background: var(--light);
}

.temporada-main-poster {
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 140px;
    height: 100px;
    background: var(--grey);
    border-radius: 3px;
    font-size: 2rem;
    font-weight: 500;
}

.temporada-main-card {
    display: grid;
}

.temporada-main-title {
    display: grid;
    font-size: 1.25rem;
    font-weight: 700;
}

.temporada-main-overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.episodios-content {
    display: none;
    grid-gap: .5rem;
}

.episodio-main {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    grid-gap: 1rem;
    padding: .5rem;
    font-size: .875rem;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 5%);
    cursor: pointer;
}

.episodio-main-poster {
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 140px;
    height: 80px;
    background: var(--grey);
    border-radius: 3px;
    font-size: 1.75rem;
    font-weight: 500;
}

.episodio-main-card {
    display: grid;
    place-items: center self-start;
    grid-gap: .5rem;
    line-height: 1.25;
}

.episodio-main-title {
    font-size: 1.25rem;
}

.episodio-main-overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .75rem;
}

.episodio-main-rating {
    display: grid;
    grid-template-columns: auto minmax(60px, 1fr);
    grid-gap: .5rem;
    padding: .5rem;
    border-radius: 3px;
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.1);
}

.episodio-main-rating span {
    display: grid;
    place-items: center start;
    grid-column: 2 / 2;
    font-weight: 500;
}

.episodio-main-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    padding: .5rem;
    font-size: .875rem;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 4px 6px -1px var(--light), 0 2px 4px -1px var(--light);
}

.episodio-content {
    display: none;
    border: 1px solid #efefef;
    border-radius: 3px;
}

.episodio-content.active {
    display: grid;
}

.episodio-main.active {
    background: var(--light);
}

.episodio-content-options {
    display: grid;
    box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 5%);
}

.episodio-content-options a {
    display: grid;
    grid-template-columns: auto auto;
    text-decoration: none;
    font-size: .875rem;
    color: var(--color);
}

.episodio-content-options a span:first-child {
    display: grid;
    place-items: center;
    padding: .25rem .5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--grey);
}

.episodio-content-options a span:last-child {
    display: grid;
    place-items: center;
    padding: .25rem .5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: var(--light);
}

.episodio-content-options a:hover span {
    background: var(--grey);
}

.episodio-main-download {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    padding: .5rem;
}

.episodio-main-download span:last-child {
    cursor: pointer;
}

.episodio-content-download {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: .5rem;
    padding: .5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.ecd-sorry {
    text-align: center;
}




.filter__taxonomy {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 768px;
    margin: auto;
}

.filter__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    place-items: center;
    grid-gap: .5rem;
    padding: .5rem;
    border: 1px solid #efefef;
    box-shadow: 0 4px 6px -1px var(--light), 0 2px 4px -1px var(--light);
    border-radius: 3px;
}

.filter__items-content-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.filter__items .filter__item {
    color: #fff;
    background: #263238;
    padding: .5rem 0;
    display: grid;
    place-items: center;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
}

.filter__items .filter__item.active {
    background: #78909C;
}

.paginationjs {
    font-size: 14px;
    box-sizing: initial;
    padding: 1rem;
}
.paginationjs .paginationjs-pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationjs .paginationjs-pages li {
    border: 1px solid var(--grey);
    border-right: none;
    list-style: none;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
    border-radius: 3px 0 0 3px;
}

.paginationjs .paginationjs-pages li > a {
    display: flex;
    padding: .5rem 1rem;
}

.paginationjs .paginationjs-pages li.active > a {
    background: var(--grey);
}

.paginationjs .paginationjs-pages li.disabled > a {
    opacity: 0.3;
}

.paginationjs .paginationjs-pages li > a:hover {
    background: var(--grey);
}

.paginationjs .paginationjs-pages li.paginationjs-next {
    border-right: 1px solid var(--grey);
}

.paginationjs .paginationjs-pages li:last-child {
    border-right: 1px solid var(--grey);
    border-radius: 0 3px 3px 0;
}

.paginationjs .paginationjs-pages li:last-child > a {
    border-radius: 0 3px 3px 0;
}