strong {
    font-weight: bolder;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    resize: vertical;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > div {
    padding: 0 15px;
}
.mb-2 {
    margin-bottom: 2rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background: var(--sub-background);
    padding: 1.5rem 0;
}
.md-form-group {
    padding: 18px 0 24px 0;
    position: relative;
}
.md-input {
    background: 0 0;
    position: relative;
    z-index: 5;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(135, 150, 165, 0.15);
    width: 100%;
    min-height: 38px;
    padding: 0 .5rem;
    color: inherit;
}
.md-input:focus {
    border-color: #448bff;
}
.md-input:focus ~ label {
    color: #448bff;
    opacity: 1;
    top: 0 !important;
    font-size: 0.85em !important;
}
.float-label .md-input ~ label {
    top: 20px;
    font-size: 1em;
}
.float-label .md-input:valid ~ label {
    top: 0;
    font-size: 0.85em;
}
.col-sm-select {
    position: relative;
    display: flex;
    align-items: center;
}
.md-select {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.col-sm-select select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5em 1rem;
    border-radius: 4px;
    background: var(--border-color);
    width: 100%;
}
.md-select,
.md-input ~ label {
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0;
    left: 0;
}
textarea.md-input {
    height: auto;
}
.md-input-msg {
    position: absolute;
    bottom: 0;
    line-height: 24px;
    font-size: 0.85em;
}
.md-input-msg.right {
    right: 0;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #c4daff;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #f7faff;
    border-color: #f7faff;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--color);
    background-color: var(--hover);
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}
.bg-success-lt:focus,
.bg-success-lt:hover {
  color: #fff!important;
  background-color: #31c971!important;
}
.bg-warning-lt:focus,
.bg-warning-lt:hover {
  color: #fff!important;
  background-color: #f4c414!important;
}
.bg-danger-lt:focus,
.bg-danger-lt:hover {
  color: #fff!important;
  background-color: #f54394!important;
}
@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-sm-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-sm-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.align-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.poster-selection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    border-bottom: 1px solid rgba(135, 150, 165, 0.15);
    gap: 1rem;
}
.poster-selection label {
    display: grid;
    place-items: center;
    gap: .5rem;
    margin: 0;
}
.poster-selection label img {
    width: 100%;
    height: auto;
    max-width: 166px;
    min-height: 240px;
    border-radius: 0.188rem;
}
.poster-input {
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0;
    left: 0;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
}
[type=radio]:checked + img {
    outline: 4px solid #4CAF50;
    border: 3px solid transparent;
}
:root {
    --tagify-dd-color-primary: rgb(53, 149, 246);
    --tagify-dd-bg-color: white
}
.tagify {
    --tags-border-color: #DDD;
    --tags-hover-border-color: #CCC;
    --tags-focus-border-color: #3595f6;
    --tag-bg: #E5E5E5;
    --tag-hover: #D3E2E2;
    --tag-text-color: black;
    --tag-text-color--edit: black;
    --tag-pad: 0.3em 0.5em;
    --tag-inset-shadow-size: 1.1em;
    --tag-invalid-color: #D39494;
    --tag-invalid-bg: rgba(211, 148, 148, 0.5);
    --tag-remove-bg: rgba(211, 148, 148, 0.3);
    --tag-remove-btn-bg: none;
    --tag-remove-btn-bg--hover: #c77777;
    --tag--min-width: 1ch;
    --tag--max-width: auto;
    --tag-hide-transition: .3s;
    --placeholder-color: black;
    --loader-size: .8em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    line-height: 1.1;
    cursor: text;
    outline: 0;
    position: relative;
    transition: .1s
}
@keyframes tags--bump {
    30% {
        transform: scale(1.2)
    }
}
@keyframes rotateLoader {
    to {
        transform: rotate(1turn)
    }
}
.tagify.tagify--focus {
    border-color: #448bff;
    border-bottom-width: 2px;
    padding-bottom: 1px;
}
.tagify[readonly] {
    cursor: default
}
.tagify[readonly]>.tagify__input {
    visibility: hidden;
    width: 0;
    margin: 5px 0
}
.tagify[readonly] .tagify__tag__removeBtn {
    display: none
}
.tagify[readonly] .tagify__tag>div {
    padding: .3em .5em;
    padding: var(--tag-pad)
}
.tagify[readonly] .tagify__tag>div::before {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(.95)
}
.tagify--loading .tagify__input::before {
    content: none
}
.tagify--loading .tagify__input::after {
    content: '';
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 3px solid;
    border-color: #eee #bbb #888 transparent;
    border-radius: 50%;
    animation: rotateLoader .4s infinite linear;
    margin: -2px 0 -2px .5em
}
.tagify--loading .tagify__input:empty::after {
    margin-left: 0
}
.tagify+input, .tagify+textarea {
    display: none!important
}
.tagify__tag {
    display: inline-flex;
    align-items: center;
    margin: 5px 0 5px 5px;
    position: relative;
    z-index: 1;
    outline: 0;
    cursor: default;
    transition: .13s ease-out
}
.tagify__tag>div {
    vertical-align: top;
    box-sizing: border-box;
    max-width: 100%;
    padding: .3em .5em;
    padding: var(--tag-pad);
    color: #000;
    color: var(--tag-text-color);
    line-height: inherit;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
    transition: .13s ease-out
}
.tagify__tag>div>* {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    min-width: var(--tag--min-width);
    max-width: var(--tag--max-width);
    transition: .8s ease, .1s color
}
.tagify__tag>div>[contenteditable] {
    outline: 0;
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
    margin: -2px;
    padding: 2px;
    max-width: 350px
}
.tagify__tag>div::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    transition: 120ms ease;
    animation: tags--bump .3s ease-out 1;
    box-shadow: 0 0 0 1.1em #e5e5e5 inset;
    box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-bg) inset
}
.tagify__tag:hover:not([readonly]) div::before {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    box-shadow: 0 0 0 1.1em #d3e2e2 inset;
    box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-hover) inset
}
.tagify__tag--loading {
    pointer-events: none
}
.tagify__tag--loading .tagify__tag__removeBtn {
    display: none
}
.tagify__tag--loading::after {
    --loader-size: .4em;
    content: '';
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    animation: rotateLoader .4s infinite linear;
    margin: 0 .5em 0 -.1em
}
.tagify__tag.tagify--noAnim>div::before {
    animation: none
}
.tagify__tag.tagify--hide {
    width: 0!important;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    transform: scale(0);
    transition: .3s;
    transition: var(--tag-hide-transition);
    pointer-events: none
}
.tagify__tag.tagify--mark div::before {
    animation: none
}
.tagify__tag.tagify--notAllowed:not(.tagify__tag--editable) div>span {
    opacity: .5
}
.tagify__tag.tagify--notAllowed:not(.tagify__tag--editable) div::before {
    box-shadow: 0 0 0 1.1em rgba(211, 148, 148, .5) inset!important;
    box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-invalid-bg) inset!important;
    transition: .2s
}
.tagify__tag[readonly] .tagify__tag__removeBtn {
    display: none
}
.tagify__tag[readonly]>div::before {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(.95)
}
.tagify__tag--editable>div {
    color: #000;
    color: var(--tag-text-color--edit)
}
.tagify__tag--editable>div::before {
    box-shadow: 0 0 0 2px #d3e2e2 inset!important;
    box-shadow: 0 0 0 2px var(--tag-hover) inset!important
}
.tagify__tag--editable.tagify--invalid>div::before {
    box-shadow: 0 0 0 2px #d39494 inset!important;
    box-shadow: 0 0 0 2px var(--tag-invalid-color) inset!important
}
.tagify__tag__removeBtn {
    order: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    background: 0 0;
    background: var(--tag-remove-btn-bg);
    color: #000;
    color: var(--tag-text-color);
    width: 14px;
    height: 14px;
    margin-right: 4.66667px;
    margin-left: -4.66667px;
    transition: .2s ease-out
}
.tagify__tag__removeBtn::after {
    content: "\00D7"
}
.tagify__tag__removeBtn:hover {
    color: #fff;
    background: #c77777;
    background: var(--tag-remove-btn-bg--hover)
}
.tagify__tag__removeBtn:hover+div>span {
    opacity: .5
}
.tagify__tag__removeBtn:hover+div::before {
    box-shadow: 0 0 0 1.1em rgba(211, 148, 148, .3) inset!important;
    box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-remove-bg) inset!important;
    transition: .2s
}
.tagify:not(.tagify--mix) .tagify__input br {
    display: none
}
.tagify:not(.tagify--mix) .tagify__input * {
    display: inline;
    white-space: nowrap
}
.tagify__input {
    display: block;
    min-width: 30px;
    margin: 5px;
    padding: .3em .5em;
    padding: var(--tag-pad, .3em .5em);
    line-height: inherit;
    position: relative;
    white-space: pre-line
}
.tagify__input::before {
    display: inline-block;
    width: 0
}
@supports (-moz-appearance:none) {
    .tagify__input:empty {
        display: flex
    }
}
.tagify__input:empty::before {
    transition: .2s ease-out;
    opacity: .5;
    transform: none;
    width: auto
}
.tagify__input:focus {
    outline: 0
}
.tagify__input:focus::before {
    transition: .2s ease-out;
    opacity: 0;
    transform: translatex(6px)
}
@supports (-moz-appearance:none) {
    .tagify__input:focus::before {
        display: none
    }
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .tagify__input:focus::before {
        display: none
    }
}
@supports (-ms-ime-align:auto) {
    .tagify__input:focus::before {
        display: none
    }
}
.tagify__input:focus:empty::before {
    transition: .2s ease-out;
    opacity: .3;
    transform: none
}
@supports (-moz-appearance:none) {
    .tagify__input:focus:empty::before {
        display: inline-block
    }
}
.tagify__input::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1em;
    line-height: 1em;
    margin: auto 0;
    z-index: 1;
    color: #000;
    color: var(--placeholder-color);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0
}
.tagify--mix .tagify__input::before {
    position: static;
    line-height: inherit
}
.tagify__input::after {
    content: attr(data-suggest);
    display: inline-block;
    white-space: pre;
    color: #000;
    opacity: .3;
    pointer-events: none;
    max-width: 100px
}
.tagify__input .tagify__tag {
    margin: 0
}
.tagify__input .tagify__tag>div {
    padding-top: 0;
    padding-bottom: 0
}
.tagify--mix {
    line-height: 1.7
}
.tagify--mix .tagify__input {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: inherit
}
.tagify--mix .tagify__input::before {
    height: auto
}
.tagify--mix .tagify__input::after {
    content: none
}
.tagify--select::after {
    content: '>';
    opacity: .5;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    font: 16px monospace;
    line-height: 8px;
    height: 8px;
    pointer-events: none;
    transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
    transition: .2s ease-in-out
}
.tagify--select[aria-expanded=true]::after {
    transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2)
}
.tagify--select .tagify__tag {
    position: absolute;
    top: 0;
    right: 1.8em;
    bottom: 0
}
.tagify--select .tagify__tag div {
    display: none
}
.tagify--select .tagify__input {
    width: 100%
}
.tagify--invalid {
    --tags-border-color: #D39494
}
.tagify__dropdown {
    position: absolute;
    z-index: 9999;
    transform: translateY(1px);
    overflow: hidden
}
.tagify__dropdown[placement=top] {
    margin-top: 0;
    transform: translateY(-2px)
}
.tagify__dropdown[placement=top] .tagify__dropdown__wrapper {
    border-top-width: 1px;
    border-bottom-width: 0
}
.tagify__dropdown--text {
    box-shadow: 0 0 0 3px rgba(var(--tagify-dd-color-primary), .1);
    font-size: .9em
}
.tagify__dropdown--text .tagify__dropdown__wrapper {
    border-width: 1px
}
.tagify__dropdown__wrapper {
    max-height: 300px;
    overflow: hidden;
    background: #fff;
    background: var(--tagify-dd-bg-color);
    border: 1px solid hsla(210, 14%, 59%, 0.14);
    border-top-width: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
    transition: .25s cubic-bezier(0, 1, .5, 1)
}
.tagify__dropdown__wrapper:hover {
    overflow: auto
}
.tagify__dropdown--initial .tagify__dropdown__wrapper {
    max-height: 20px;
    transform: translateY(-1em)
}
.tagify__dropdown--initial[placement=top] .tagify__dropdown__wrapper {
    transform: translateY(2em)
}
.tagify__dropdown__item {
    box-sizing: inherit;
    padding: .3em .5em;
    margin: 1px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    outline: 0
}
.tagify__dropdown__item--active {
    background: #EEEEEE;
    color: #424242
}
.tagify__dropdown__item:active {
    filter: brightness(105%)
}