---
layout: default
---

<section class="content">
	<div class="post">
		<h3>{{ page.title }}</h3>
		<hr data-content="{% include date_formatting.html date=page.date %}">
		{{ content }}
		<div class="meta">
			<time datetime="{{ page.date | date_to_xmlschema }}">{% include date_formatting.html date=page.date %}</time>
			<div class="tags">
				{% for tag in page.tags %}
					<a class="tag" href="/tag/{{tag}}">#{{tag}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include suggestion.html %}
	{% include related.html %}
</section>



