---
layout: default
---
<section class="content">
	{% include ads-top.html %}
	
	{% assign tags = site.tags | sort %}
	<div class="tag-content">
		{% for tag in tags %}
			<a class="tag-list-name" href="/tags#{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' ' }} <span class="tag-list-count">{{ tag | last | size }}</span></a>
		{% endfor %}
	</div>
	<div class="tag-content"> 
		{% for tag in tags %} 
		<h3 class="tag-name" id="{{ tag[0] | slugify }}">{{ tag[0] }} <span class="tag-count">{{ tag | last | size }}</span></h3>
		<div class="tag-articles">
			{% for post in tag[1] %}
				<a class="tag-article-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span class="tag-article-date">{{ post.date | date: "%B %-d, %Y" }}</span></a>
			{% endfor %}
		</div>
		{% endfor %}
	</div>

</section>